.cursor-pointer {
  cursor: pointer;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  z-index: 2;
}

.loader-box {
  width: 70px;
  margin: 0 auto;
  margin-top: 20%;
}